.vscode
./env/*


# Byte-compiled / optimized / DLL files
__pycache__/
.coverage
.pytest_cache/


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec
/env/
.env/
/build/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt




# Project specific ignores
*.swp
*.bak
example.db
.idea/
clients/*/swagger.json
clients/*/dist
.env*
env/
